<div id="main-menu-container" class="clearfix">

    <div id="mobile-menu-icon" class="btn btn-outline-inverse visible-xs"><span class="glyphicon glyphicon-th"></span></div>

    <ul id="main-menu">
        <li class="menu-item current-menu-ancestor" data-name="Home" data-color="twlsky-red">
            <a href="/Home">Home</a>
        </li>
        <li class="menu-item" data-name="Cursos" data-color="twlsky-orange">
            <a href="/Courses">Cursos</a>
        </li>
        <li class="menu-item" data-name="Sobre" data-color="twlsky-yellow">
            <a href="/About">Sobre</a>
        </li>
        <li class="menu-item" data-name="Novidades" data-color="twlsky-green">
            <a href="/News">Novidades</a>
        </li>
        <li class="menu-item" data-name="Equipe" data-color="twlsky-blue">
            <a href="/Team">Equipe</a>
        </li>
        <li class="menu-item" data-name="Contato" data-color="twlsky-pink">
            <a href="/Contact">Contato</a>
        </li>
    </ul><!-- #main-menu -->

</div><!-- #menu-container -->