<div id="main-menu-container" class="clearfix">

    <div id="mobile-menu-icon" class="btn btn-outline-inverse visible-xs"><span class="glyphicon glyphicon-th"></span></div>

    <ul id="main-menu">
        <li class="menu-item current-menu-ancestor">
            <a href="/Home">Home</a>
        </li>
        <li class="menu-item">
            <a href="/Courses">Cursos</a>
        </li>
        <li class="menu-item">
            <a href="/About">Sobre</a>
        </li>
        <li class="menu-item">
            <a href="/News">Novidades</a>
        </li>
        <li class="menu-item">
            <a href="/Team">Equipe</a>
        </li>
        <li class="menu-item">
            <a href="/Contact">Contato</a>
        </li>
    </ul><!-- #main-menu -->

</div><!-- #menu-container -->