@{
    ViewBag.Title = "Home";
}

<div class="inside-body-content-container clearfix">

    <!-- =========== Section 1: Top Banner =========== -->
    <div id="top-banner" class="container-fluid horizontal-section-container clearfix">
        <div class="row">
            <div class="col-xs-12">
                <img src="/Content/images/temp/banner-4.jpg" alt="Green scenery" class="full-width-image">
            </div><!-- .col-xs-12 -->
        </div><!-- .row -->
    </div>
    <!-- End: Section 1: Top Banner -->

    <!-- =========== Section: Breadcrumbs =========== -->
    <div id="breadcrumbs-container" class="container-fluid horizontal-section-container hidden-xs clearfix">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="/Home">Home</a></li>
                    <li class="active"><a href="#">Cursos</a></li>
                </ol>
            </div>
        </div>
    </div>

    <!-- =========== Section 2a =========== -->
    <div class="container-fluid horizontal-section-container clearfix">
        <div class="row">

            <div class="col-sm-12">
                <!-- Main Page Content -->
                <div id="main-page-content-a" class="section-container main-page-content clearfix">

                    <div class="section-content">

                        <h1 class="page_title">Services</h1>

                        <!-- List -->
                        <div class="thumbnail-list row clearfix">

                            <!-- item -->
                            <div class="item w-icon col-sm-4">
                                <div class="thumbnail item-content">
                                    <a href="#" class="icon hover-effect">
                                        <span class="fa fa-cog"></span>
                                    </a>
                                    <div class="caption">
                                        <h5 class="title bold"><a href="#">Praesent pharetra quam</a></h5>
                                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                                    </div>
                                </div><!-- .thumbnail -->
                            </div><!-- .item -->
                            <!-- item -->
                            <div class="item w-icon col-sm-4">
                                <div class="thumbnail item-content">
                                    <a href="#" class="icon hover-effect">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </a>
                                    <div class="caption">
                                        <h5 class="title bold"><a href="#">Cras fermentum</a></h5>
                                        <p>Praesent pharetra, quam ac sollicitudin tempus, augue mi ornare enim, ut porta ipsum massa vel diam.</p>
                                    </div>
                                </div><!-- .thumbnail -->
                            </div><!-- .item -->
                            <!-- item -->
                            <div class="item w-icon col-sm-4">
                                <div class="thumbnail item-content">
                                    <a href="#" class="icon hover-effect">
                                        <span class="fa fa-shield"></span>
                                    </a>
                                    <div class="caption">
                                        <h5 class="title bold"><a href="#">Duis consequat erat vel mauris</a></h5>
                                        <p>Taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                                    </div>
                                </div><!-- .thumbnail -->
                            </div><!-- .item -->

                            <span class="clearfix_item clearfix hidden-xs"></span><!-- this is needed to fix row item's different heights -->
                            <!-- item -->
                            <div class="item w-icon col-sm-4">
                                <div class="thumbnail item-content">
                                    <a href="#" class="icon hover-effect">
                                        <span class="glyphicon glyphicon-camera"></span>
                                    </a>
                                    <div class="caption">
                                        <h5 class="title bold"><a href="#">Aliquam hendrerit auctor risus ut aliquet</a></h5>
                                        <p>Praesent pharetra, quam ac sollicitudin tempus, augue mi ornare enim, ut porta ipsum massa.</p>
                                    </div>
                                </div><!-- .thumbnail -->
                            </div><!-- .item -->
                            <!-- item -->
                            <div class="item w-icon col-sm-4">
                                <div class="thumbnail item-content">
                                    <a href="#" class="icon hover-effect">
                                        <span class="fa fa-photo"></span>
                                    </a>
                                    <div class="caption">
                                        <h5 class="title bold"><a href="#">Praesent pharetra quam</a></h5>
                                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                                    </div>
                                </div><!-- .thumbnail -->
                            </div><!-- .item -->
                            <!-- item -->
                            <div class="item w-icon col-sm-4">
                                <div class="thumbnail item-content">
                                    <a href="#" class="icon hover-effect">
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                    </a>
                                    <div class="caption">
                                        <h5 class="title bold"><a href="#">Vivamus mollis</a></h5>
                                        <p>Praesent pharetra, quam ac sollicitudin tempus, augue mi ornare enim, ut porta ipsum massa.</p>
                                    </div>
                                </div><!-- .thumbnail -->
                            </div><!-- .item -->

                            <span class="clearfix_item clearfix hidden-xs"></span><!-- this is needed to fix row item's different heights -->

                        </div><!-- .thumbnail-list -->

                    </div><!-- .section-content -->

                </div><!-- .section-container -->
                <!-- End: Main Page Content -->
            </div><!-- .col-sm-12 -->

        </div><!-- .row -->
    </div><!-- .container-fluid -->
    <!-- End: Section 2a -->

</div>